body {
  background-image: url("img/maxresdefault.jpg");
}

.container {
  margin-top: 1%;
  width: 100%;
  height: 600px;
  padding: 0;
  background: transparent;
  cursor:crosshair;
}

.board {
  background-color: #929381;
  opacity: 0.8;
  border: 1px solid black;
}

.cell {
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 120px;
  width: 120px;
}

.target {
  position: relative;
}

.pollo {
  background-image: url("img/pollo.png");
}

.terro {
  background-image: url("img/terrorist_2.png");
}

.deadTarget {
  background-image: url("img/bloodbullethole.png");
  
}

.totalPoints, .displayTimer {
  display: inline-block;
  padding-left: 20%;
}

.container p {
  position: absolute;
  left: 30%;
  top: 10%;
  font-size: 200px;
}
