body {
  background-image: url("img/maxresdefault.jpg");
}

.container {
  background-color: white;
  margin-top: 5%;
  height: 600px;
}

.col-xs-3 {
  height: 200px;
}

.top-target-img {
  width: 25%;
}

.mid-target-img {
  width: 60%;
}

.bottom-target-img {
  width: 80%;
}
